env/__pycache__/

agents/__pycache__/

projekt_parser/__pycache__/

venv/

.idea/

.idea/workspace.xml

/home/felix/PycharmProjects/fish-environment-master/.idea

presentation/

framework/__pycache__/

guide/guide.bbl
guide/guide.blg
guide/guide.log
guide/guide.aux
__pycache__
.swp
plottex/*

paper/example
.DS_Store

*.c
*.swp
*.so
*.html
.egg-info
build/
models_tars/
runs_tars/

*.aux
*.bbl
*.blg
*.log
