env/__pycache__/

agents/__pycache__/

projekt_parser/__pycache__/

venv/

.idea/

.idea/workspace.xml

/home/felix/PycharmProjects/fish-environment-master/.idea

presentation/

framework/__pycache__/

guide/guide.log
guide/guide.aux
